/* 
.containers{

  

justify-content: center;

align-items: center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
padding: 25px;
}
.card img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    align-self: center;
}
.h3{   
    text-align: center;
    font-weight: bold;
    font-weight: 200;
    font-size: 18px;

}   


*/
/* */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Kaushan+Script&display=swap');
body{
    display: flex;
    justify-content: center;
    background-color: black;
font-family: 'Poppins', sans-serif;
overflow: hidden;
  
   
}
*{
    padding: 0;
    margin: 0%;
}
.cont{
    width: 97%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
      background-color:gray
   
}

.card{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.loo{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.inp{
    display: flex;
    /* position: relative; */

}
.icon{
    display: flex;
    align-items: center;
    height: 15px;
    padding:  5px 10px 5px 10px;
    background-color: #E9ECEF;
    border-radius: 5px 0px 0px 5px;

}
.fa{
   font-size: 12px;
   color: gray;
}
.user{
text-indent: 8px;
width: 200px;
border-radius: 0px 5px 5px 0px;
border: solid #E9ECEF 1px;
}
input::placeholder {
    font-size: 10px;
    /* font-weight: 200; */
  
    opacity: 0.5;
    /* font-size: 0.9rem; */
   
}
.btn{
    border: none;
margin-bottom: 20px;
margin-top:10px ;
background-color: gray;
padding: 5px;
border-radius: 4px;
color: white;
font-size: 10px;
font-weight: 300;
}
.imr {
    width: 80px;
margin-left: auto;
margin-right: auto;
}

@media  (100px <= width <= 400px){ 
 
.imr{
    width: 200px;
}
    .card {
        padding: 15px;
    }
.user {
    
    width: 180px;
  
}
}